# MongoDB Atlas
MONGODB_URI=mongodb+srv://crave_user:Crave%402024Secure@crave-cluster.sup0uy9.mongodb.net/crave_db?retryWrites=true&w=majority

# JWT
JWT_SECRET=CraveApp2024SecureJWT#Akshat@Joshi!
JWT_EXPIRES_IN=7d

# Stripe
STRIPE_SECRET_KEY=sk_test_placeholder
STRIPE_PUBLISHABLE_KEY=pk_test_placeholder
STRIPE_WEBHOOK_SECRET=whsec_placeholder

# On Cyclic frontend + backend = same domain
FRONTEND_URL=https://your-app.cyclic.app

NODE_ENV=production
